.search-container {
  display: flex;
  align-items: center;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: #959595;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

input::placeholder {
  animation: fadeInOut 1s infinite;
}

.findr {
  padding: 16px;
  width: 80%;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 6px 0px;
  background-color: black;
  color: #FFFF;
}
