.trackOrdr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.progress-container-vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  min-width: 6em;
  height: 400px;
  margin: 20px;
  border: 1px solid #ccc;
  padding: 2em;
  border-radius: 8px;
  justify-content: space-between;
}

.time-display {
  font-size: 2em; 
  margin-bottom: 20px;
  align-self: center;
}

.progress-bar-vertical {
  position: absolute;
  left: 3em;
  top: 0;
  width: 3px;
  height: 0;
  background-color: yellow;
  transition: height 0.3s;
  z-index: -1;
}

.step-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.step {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  position: relative;
  z-index: 1;
  transition: background-color 0.3s, color 0.3s;
  flex-shrink: 0;
}

.step.completed {
  background-color: yellow;
  color: black;
}

.step.completed::after {
  content: '✔';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.step-title {
  margin-left: 10px;
  font-size: 16px;
  color: gray;
}

.step.completed + .step-title {
  color: white;
}

.trackOrdButt {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #FFEE00;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  width: 100%; 
  align-self: flex-end; 
}

.trackOrdButt:hover {
  background-color: rgb(134, 128, 59);
}

.trackOrdButt:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.avatarImg{
  .avatar{

    border: 2px solid #666;
    background-color: #2a2a2a;
    border-radius: 5em;
    font-size: 4.2em;
    position: absolute;
    left: 45%;
    top:-10%;
  }
}
