body{
    margin:0px;
    padding: 0.4em;
}
.grey-dot-bg::before {
    content: "•";
    color: grey;
    margin-right: 5px;
    font-size: 2em; 
    vertical-align: middle;
}

.blue-dot-bg::before {
    content: "•";
    color:#0C7DED;
    margin-right: 5px;
    font-size: 2em; 
    vertical-align: middle;
}

.listaNoStyloReco{
  padding: 0;
  margin:0;
  list-style: none;
}

.listaNoStylo {
  display: grid;
  list-style: none;
  padding: 0;
  margin:1em;
  grid-template-columns: auto auto auto ;
  grid-template-rows: 1fr;
  align-items: center;

  .ciudadYpick{
    display: grid;
    grid-template-columns: minmax(200px,1200px); 
    justify-items: start;
    margin-left: 2rem;
  
    .pickOrDrop{
      color:#666;
      margin: 0;
    }
    .ciudad{
      margin: 0;
      font-weight: bolder;
      
    }

    .direccioni{
      font-size: 0.8em;
      margin: 0;
    }

    @media (max-width: 380px) {
      .svgCont {
        font-size: 0.2em;
      }
  
      .carrillo,
      .ubi {
        font-size: 0.1em; 
      }
  
      .pickOrDrop {
        font-size: 0.9em; 
      }
  
      .ciudad {
        font-size: 0.9em; 
      }
  
      .direccioni {
        font-size: 0.6em; 
      }
    }
  }

  .datosEsp {
    //overflow: hidden; 
    font-size: 0.6em;
    font-weight: bold;
    padding-right: 1em;
    max-width: 100%; 
    position: relative;
    right:3.5em;
    @media (max-width: 350px) {
      right: 6em;
    }
  }

  .carrillo {
    grid-column: 1 / 2; 
    grid-row: 1 / 2; 
  }
  
  .ubi {
    grid-column: 1 / 2; 
    grid-row: 2 / 3; 

}
}

.orderInfoCont{ //esto es el contenedor madre no se stylea + que para da el margen
  margin: 0.2em;
}

.bordeo{
  border: 1px solid honeydew;
  border-radius: 2em;
  background-color: #121212;

}



.tablaInfo {
  position: relative;
  margin: 0.4em;
  .buttonsi {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom:0;
    width: 100%;
  
    button{
      position: relative;
      width: 45%;
      height: 3em;
      font-size: 1em;
      
    }
    .timePickDrop{
      
      align-self: flex-start;
      border-bottom-right-radius: 2em;
      border-top-right-radius: 2em;
      border-bottom-left-radius: 2em;
      border-top-left-radius: 0px;
      font-weight: bold;
      
    }
   // .resumenx{
     // display: inline-flex;
     // align-self: flex-end;
     // color:#000000;
      //font-weight: bold;
     // border-radius: 2em;
   // }
    .resumenx {
    
      width: 45%;
      height: 1.7em;
      font-size: 1em;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      background-color: #ffee00ff;
      color: rgb(0, 0, 0);
      font-weight: bold;
      border: none;
      border-radius: 2em;
      cursor: pointer;
      text-decoration: none; 

      &:hover,
      &:active,
      &:focus{

        background-color: rgb(134, 128, 59);
        color:whitesmoke;
      }
    }
  }
  


}

.orderNumba {
  display: flex;
  font-weight: lighter;
  color:#666;
  background-color: #000000;
 
  p{
    margin:0;
    font-weight: bold;
    color: #fff;
    padding-left: 0.4em;
    
  }
}

.orderIcons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0.8em;
}

.tipox {
  margin-left: 0.5em;
}

.statuto {
 position: absolute;
  top: 3.7em;
  right: 0;
  padding-right: 0.8em;
  p {
    display: inline-flex;
  }
}









